In [20]:
import pandas as pd

In [21]:
imdb_titles_path = '/Users/antoniam/Desktop/personal/netflix-ratings/data/imdb/title.basics.tsv'
imdb_ratings_path = '/Users/antoniam/Desktop/personal/netflix-ratings/data/imdb/title.ratings.tsv'
imdb_principals_path = '/Users/antoniam/Desktop/personal/netflix-ratings/data/imdb/title.principals.tsv'
imdb_crew_path = '/Users/antoniam/Desktop/personal/netflix-ratings/data/imdb/title.crew.tsv'
imdb_names_path = '/Users/antoniam/Desktop/personal/netflix-ratings/data/imdb/name.basics.tsv'
rotten_tomatoes_movies_path = '/Users/antoniam/Desktop/personal/netflix-ratings/data/rotten_tomatoes/rotten_tomatoes_movies.csv'
netflix_titles_path = '/Users/antoniam/Desktop/personal/netflix-ratings/data/netflix/netflix_titles.csv'

## IMDB dataset

In [22]:
imdb_titles_df = pd.read_csv(imdb_titles_path, '\t', low_memory=False)
imdb_titles_df.head(2)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"

In [ ]:
imdb_ratings_df = pd.read_csv(imdb_ratings_path,'\t')
imdb_ratings_df.head(2)

In [ ]:
imdb_principals_df = pd.read_csv(imdb_principals_path,'\t')
imdb_principals_df.head(2)

In [ ]:
imdb_names_df = pd.read_csv(imdb_names_path,'\t')
imdb_names_df.head(2)

## Rotten Tomatoes Dataset

In [ ]:
rt_df = pd.read_csv(rotten_tomatoes_movies_path)
rt_df.head(2)

## Netflix Dataset

In [ ]:
netflix_df = pd.read_csv(netflix_titles_path)
netflix_df.head(2)

## Tables Create Statements

In [2]:
import psycopg2

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [70]:
def create_database():

#     # connect to default database
#     conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=antoniam")
#     conn.set_session(autocommit=True)
#     cur = conn.cursor()
    
#     # create sparkify database with UTF8 encoding
#     cur.execute("""
#     SELECT pg_terminate_backend(pg_stat_activity.pid)
#     FROM pg_stat_activity
#     WHERE pg_stat_activity.datname = 'movies_db';""")
#     cur.execute("DROP DATABASE IF EXISTS movies_db")
#     cur.execute("CREATE DATABASE movies_db WITH ENCODING 'utf8' TEMPLATE template0")

#     # close connection to default database
#     conn.close()    
    
    # connect to sparkify database
    conn = psycopg2.connect("host=127.0.0.1 dbname=movies_db")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    return cur, conn

In [72]:
conn.close()

In [73]:
cur, conn = create_database()

In [ ]:
create_staging_imdb_titles ="""CREATE TABLE IF NOT EXISTS staging_imdb_titles(
tconst VARCHAR NOT NULL PRIMARY KEY,
titleType VARCHAR,
primaryTitle VARCHAR,
originalTitle VARCHAR,
isAdult VARCHAR,
startYear VARCHAR,
endYear VARCHAR,
runtimeMinutes VARCHAR,
genres VARCHAR);
"""

create_staging_imdb_ratings ="""CREATE TABLE IF NOT EXISTS staging_imdb_ratings(
tconst VARCHAR NOT NULL,
averageRating FLOAT,
numVotes INT);
"""

create_staging_imdb_principals = """CREATE TABLE IF NOT EXISTS staging_imdb_principals(
tconst VARCHAR NOT NULL,
ordering INTEGER NOT NULL,
nconst VARCHAR NOT NULL, 
category VARCHAR NOT NULL,
job VARCHAR NOT NULL,
characters VARCHAR NOT NULL);
"""

create_staging_imdb_crew = """CREATE TABLE IF NOT EXISTS staging_imdb_crew(
tconst VARCHAR NOT NULL,
directors VARCHAR, 
writers VARCHAR);
"""

create_staging_imdb_names = """CREATE TABLE IF NOT EXISTS staging_imdb_names(
nconst VARCHAR NOT NULL PRIMARY KEY,
primaryName VARCHAR NOT NULL,
birthYear VARCHAR,
deathYear VARCHAR,
primaryProfession VARCHAR,
knownForTitles VARCHAR);
"""

create_staging_rotten_tomatoes_titles = """CREATE TABLE IF NOT EXISTS staging_rotten_tomatoes_titles(
rotten_tomatoes_link VARCHAR, 
movie_title VARCHAR,
movie_info VARCHAR,
critics_consensus VARCHAR, 
content_rating VARCHAR, 
genres VARCHAR, 
directors VARCHAR, 
authors VARCHAR,
actors VARCHAR, 
original_release_date DATE, 
streaming_release_date DATE, 
runtime FLOAT,
production_company VARCHAR, 
tomatometer_status VARCHAR, 
tomatometer_rating FLOAT,
tomatometer_count INT, 
audience_status VARCHAR, 
audience_rating FLOAT,
audience_count INT, 
tomatometer_top_critics_count INT,
tomatometer_fresh_critics_count INT, 
tomatometer_rotten_critics_count INT);
"""
create_staging_netflix_titles = """CREATE TABLE IF NOT EXISTS staging_netflix_titles(
show_id VARCHAR NOT NULL PRIMARY KEY,
"type" VARCHAR,
title VARCHAR,
director VARCHAR,
"cast" VARCHAR,
country VARCHAR,
date_added DATE,
release_year INT4,
rating VARCHAR,
duration VARCHAR,
listed_in VARCHAR,
description VARCHAR);
"""

In [27]:
create_temp_table = \
"""CREATE TABLE IF NOT EXISTS temp_netflix_imdb(
    imdb_title_id VARCHAR,
    netflix_title_id VARCHAR);
"""

In [11]:
create_titles = \
"""CREATE TABLE IF NOT EXISTS titles(
  id SERIAL PRIMARY KEY,
  name VARCHAR,
  description VARCHAR,
  year INT4,
  runtime_minutes INT,
  country VARCHAR,
  isAdult BOOLEAN,
  type VARCHAR,
  imdb_avg_score FLOAT,
  imdb_n_ratings INT,
  rt_critics_score FLOAT,
  rt_n_critics INT,
  rt_audience_score FLOAT,
  rt_n_audience INT);
"""

create_roles = \
"""CREATE TABLE IF NOT EXISTS roles(
id SERIAL PRIMARY KEY,
title_id VARCHAR,
person_id VARCHAR,
role_name VARCHAR NOT NULL
);
"""

create_persons = \
"""CREATE TABLE IF NOT EXISTS persons(
id VARCHAR NOT NULL PRIMARY KEY,
full_name VARCHAR NOT NULL,
birth_year INT4,
death_year INT4
);
"""

create_genres = \
"""CREATE TABLE IF NOT EXISTS genres(
id SERIAL PRIMARY KEY,
title_id VARCHAR NOT NULL,
genre_name VARCHAR NOT NULL);"""

In [ ]:
staging_tables_sql = [create_staging_imdb_titles, create_staging_imdb_ratings, create_staging_imdb_principals, create_staging_imdb_names, 
 create_staging_rotten_tomatoes_titles, create_staging_netflix_titles, create_staging_imdb_crew, create_temp_table]

final_tables = [create_titles, create_roles, create_persons, create_genres]

In [ ]:
for s in staging_tables_sql + final_tables:
    cur.execute(s)

In [ ]:
copy_staging_titles = f"COPY staging_imdb_titles FROM '{imdb_titles_path}' delimiter '\t' CSV HEADER"
copy_staging_ratings = f"COPY staging_imdb_ratings FROM '{imdb_ratings_path}' delimiter '\t' CSV HEADER"
copy_staging_principals = f"COPY staging_imdb_principals FROM '{imdb_principals_path}' delimiter '\t' CSV HEADER"
copy_staging_crew = f"COPY staging_imdb_crew FROM '{imdb_crew_path}' delimiter '\t' CSV HEADER"
copy_staging_names = f"COPY staging_imdb_names FROM '{imdb_names_path}' delimiter '\t' CSV HEADER"
copy_staging_rt = f"COPY staging_rotten_tomatoes_titles FROM '{rotten_tomatoes_movies_path}' delimiter ',' CSV HEADER"
copy_staging_netflix = f"COPY staging_netflix_titles FROM '{netflix_titles_path}' delimiter ',' CSV HEADER"


copy_staging = [copy_staging_titles, copy_staging_ratings, copy_staging_principals, copy_staging_names, copy_staging_crew, copy_staging_rt, copy_staging_netflix]

for s in copy_staging: 
    print(s)
    cur.execute(s)

## Final tables

### Temp table

In [28]:
cur.execute('DROP table temp_netflix_imdb')

In [29]:
cur.execute(create_temp_table)

In [30]:
from time import time

In [31]:
t = time()
st = \
"""INSERT INTO temp_netflix_imdb(imdb_title_id, netflix_title_id)
SELECT distinct imdb.tconst, netflix.show_id
FROM staging_netflix_titles netflix 
LEFT JOIN staging_imdb_titles imdb
ON lower(substr(netflix.title, 1, 8)) = lower(substr(imdb.primaryTitle,1, 8))
"""
cur.execute(st)
print(time() - t)

76.99673104286194

In [33]:
cur.execute('SELECT * from temp_netflix_imdb limit 5')
cur.fetchone()

('tt0149582', 's295')

### Genres table

In [35]:
cur.execute(create_genres)

In [36]:
st = \
"""INSERT INTO genres(title_id, genre_name)
   SELECT tconst, unnest(string_to_array(genres, ',')) as genre
   FROM temp_netflix_imdb
   LEFT JOIN staging_imdb_titles
   ON temp_netflix_imdb.imdb_title_id = staging_imdb_titles.tconst
   WHERE genres!='\\N'
   """
cur.execute(st)

### Persons table

In [37]:
st = \
"""INSERT INTO persons(id, full_name, birth_year, death_year)
SELECT nconst, primaryName, 
NULLIF(regexp_replace(birthYear, '\D','','g'), '')::numeric AS birth_year,
NULLIF(regexp_replace(deathYear, '\D','','g'), '')::numeric AS death_year
from staging_imdb_names
"""
cur.execute(st)

### Roles table

In [38]:
st = \
"""INSERT INTO roles(title_id, person_id, role_name)
SELECT tconst, nconst, category
FROM temp_netflix_imdb 
LEFT JOIN staging_imdb_principals 
ON temp_netflix_imdb.imdb_title_id = staging_imdb_principals.tconst
WHERE category in ('director', 'writer', 'actor', 'actress')

UNION
SELECT tconst, unnest(string_to_array(directors, ',')) as nconst, 'director'
FROM temp_netflix_imdb 
LEFT JOIN staging_imdb_crew
ON temp_netflix_imdb.imdb_title_id = staging_imdb_crew.tconst
WHERE directors!='\\N'

UNION
SELECT tconst, unnest(string_to_array(writers, ',')) as nconst, 'writer'
FROM temp_netflix_imdb 
LEFT JOIN staging_imdb_crew
ON temp_netflix_imdb.imdb_title_id = staging_imdb_crew.tconst
WHERE writers!='\\N'
"""
cur.execute(st)

### Titles table

In [ ]:
name VARCHAR,
description VARCHAR,
year INT4,
runtime_minutes INT,
country VARCHAR,
isAdult BOOLEAN,
type VARCHAR,
imdb_avg_score FLOAT,
imdb_n_ratings INT,
rt_critics_score FLOAT,
rt_n_critics INT,
rt_audience_score FLOAT,
rt_n_audience INT

CREATE TABLE IF NOT EXISTS staging_imdb_titles(
tconst VARCHAR NOT NULL PRIMARY KEY,
titleType VARCHAR,
primaryTitle VARCHAR,
originalTitle VARCHAR,
rating VARCHAR,
startYear VARCHAR,
endYear VARCHAR,
runtimeMinutes VARCHAR,
genres VARCHAR);

In [152]:
t = time()
st = """
SELECT staging_netflix_titles.show_id, staging_netflix_titles.type, staging_netflix_titles.title, 
staging_netflix_titles.country, staging_netflix_titles.release_year, 
staging_netflix_titles.description, with_imdb.tconst, staging_netflix_titles.rating, with_imdb.runtimeMinutes, 
averageRating, numVotes

FROM staging_netflix_titles 
LEFT JOIN (
        SELECT distinct netflix.show_id, netflix.type, netflix.title, netflix.country, netflix.release_year, 
                netflix.description, imdb.tconst, runtimeMinutes, averageRating, numVotes
                FROM(
                    SELECT show_id, type, title, country, release_year, description,
                    unnest(string_to_array(staging_netflix_titles.director, ',')) as director,
                    unnest(string_to_array(staging_netflix_titles.cast, ',')) as actor
                    FROM staging_netflix_titles) as netflix
                JOIN(
                    SELECT *
                    FROM temp_netflix_imdb 
                    JOIN staging_imdb_titles 
                    ON temp_netflix_imdb.imdb_title_id = staging_imdb_titles.tconst
                    JOIN roles
                    ON roles.title_id = staging_imdb_titles.tconst
                    JOIN persons 
                    ON persons.id = roles.person_id) as imdb
                JOIN staging_imdb_ratings 
                    ON staging_imdb_ratings.tconst = imdb.tconst
            ON netflix.show_id = imdb.netflix_title_id
            AND netflix.release_year::varchar = imdb.startYear
            AND (netflix.actor = imdb.full_name or netflix.director = imdb.full_name)
        ) as with_imdb
ON with_imdb.show_id = staging_netflix_titles.show_id
"""
cur.execute(st)

In [179]:
t = 0
for i in range(500):
    if cur.fetchone()[-1] is not None:
        t+=1

In [150]:
cur.fetchone()

('s2',
 'Movie',
 '7:19',
 'Mexico',
 2016,
 'After a devastating earthquake hits Mexico City, trapped survivors from all walks of life wait to be rescued while trying desperately to stay alive.',
 'tt5979312',
 'TV-MA',
 '94')

In [147]:
cur.fetchone()

(None, None, None, None, None, None, None, None, None)

In [97]:
t = time()
st = """
SELECT distinct netflix.show_id, rt.rotten_tomatoes_link, imdb.tconst
FROM temp_netflix_imdb
LEFT JOIN staging_netflix_titles netflix
ON temp_netflix_imdb.netflix_title_id = netflix.show_id

LEFT JOIN (
SELECT * FROM staging_imdb_titles imdb
JOIN temp_netflix_imdb
ON temp_netflix_imdb.imdb_title_id = imdb.tconst
JOIN (
    SELECT full_name, title_id
    FROM roles
    JOIN PERSONS 
    ON roles.person_id = persons.id) as imdb_cast
ON imdb_cast.
FULL OUTER JOIN (
    SELECT staging_netflix_titles.show_id, unnest(string_to_array(staging_netflix_titles.director, ',')) as name
    FROM staging_netflix_titles) as director
ON director.show_id = netflix.show_id
AND director.name = imdb_cast.full_name
AND temp_netflix_imdb.imdb_title_id = imdb_cast.title_id
AND netflix.release_year::varchar = imdb.startYear



LEFT JOIN staging_rotten_tomatoes_titles rt
ON lower(substr(netflix.title, 1, 8)) = lower(substr(rt.movie_title, 1, 8))
AND netflix.release_year::varchar = extract(year from rt.original_release_date)::varchar
"""
res = cur.execute(st)
print(time() - t)

32.14161825180054

In [98]:
cur.fetchall()

[('s1', None, None),
 ('s10', None, 'tt1301698'),
 ('s10', None, None),
 ('s100', None, None),
 ('s1000', None, 'tt3748440'),
 ('s1000', None, 'tt6615138'),
 ('s1000', None, None),
 ('s1001', None, 'tt6488384'),
 ('s1001', None, 'tt6769208'),
 ('s1001', None, 'tt6957370'),
 ('s1001', None, 'tt7551534'),
 ('s1001', None, None),
 ('s1002', None, 'tt2359024'),
 ('s1002', None, None),
 ('s1003', 'm/blue_streak', 'tt0181316'),
 ('s1003', 'm/blue_streak', None),
 ('s1004', 'm/blue_valentine', 'tt1120985'),
 ('s1004', 'm/blue_valentine', 'tt4677834'),
 ('s1004', 'm/blue_valentine', None),
 ('s1005', None, 'tt0476527'),
 ('s1006', None, 'tt10754264'),
 ('s1006', None, 'tt4510472'),
 ('s1006', None, 'tt5602204'),
 ('s1006', None, 'tt5858502'),
 ('s1006', None, 'tt6533314'),
 ('s1006', None, 'tt7282932'),
 ('s1006', None, 'tt7407132'),
 ('s1006', None, 'tt7444956'),
 ('s1006', None, 'tt7912956'),
 ('s1006', None, None),
 ('s1007', None, 'tt12013558'),
 ('s1008', None, 'tt8730152'),
 ('s1009', None, 'tt5192124'),
 ('s1009', None, None),
 ('s101', None, 'tt1187043'),
 ('s101', None, 'tt8474256'),
 ('s101', None, None),
 ('s1010', None, 'tt3210258'),
 ('s1010', None, None),
 ('s1011', None, 'tt1516172'),
 ('s1012', None, 'tt9107368'),
 ('s1012', None, None),
 ('s1013', None, None),
 ('s1014', None, 'tt5236758'),
 ('s1015', None, 'tt6082630'),
 ('s1016', None, 'tt13292206'),
 ('s1016', None, None),
 ('s1017', None, 'tt0069810'),
 ('s1017', None, None),
 ('s1018', None, 'tt3359290'),
 ('s1018', None, None),
 ('s1019', None, 'tt8200004'),
 ('s1019', None, None),
 ('s102', None, 'tt14644422'),
 ('s102', None, 'tt7987516'),
 ('s102', None, 'tt8618810'),
 ('s102', None, None),
 ('s1020', None, 'tt6864864'),
 ('s1020', None, None),
 ('s1021', None, 'tt5931144'),
 ('s1021', None, None),
 ('s1022', None, 'tt8893546'),
 ('s1022', None, None),
 ('s1023', None, 'tt13906376'),
 ('s1023', None, 'tt1729637'),
 ('s1023', None, 'tt1849997'),
 ('s1023', None, 'tt1898331'),
 ('s1023', None, 'tt2223861'),
 ('s1023', None, 'tt5604010'),
 ('s1023', None, None),
 ('s1024', None, 'tt6685074'),
 ('s1025', None, None),
 ('s1026', None, None),
 ('s1027', None, 'tt3398228'),
 ('s1027', None, 'tt3957774'),
 ('s1027', None, 'tt3982374'),
 ('s1027', None, 'tt4294938'),
 ('s1027', None, None),
 ('s1028', 'm/bokeh_2017', 'tt3722062'),
 ('s1028', 'm/bokeh_2017', 'tt7019792'),
 ('s1028', 'm/bokeh_2017', 'tt7339640'),
 ('s1029', None, None),
 ('s103', None, 'tt3598648'),
 ('s1030', None, 'tt0303733'),
 ('s1030', None, None),
 ('s1031', 'm/bolt', 'tt0397892'),
 ('s1031', 'm/bolt', 'tt1358341'),
 ('s1031', 'm/bolt', 'tt2138183'),
 ('s1031', 'm/bolt', 'tt4523430'),
 ('s1031', 'm/bolt', None),
 ('s1032', None, 'tt6847878'),
 ('s1032', None, 'tt6895746'),
 ('s1032', None, None),
 ('s1033', None, None),
 ('s1034', None, 'tt2797242'),
 ('s1034', None, None),
 ('s1035', None, 'tt3733302'),
 ('s1035', None, 'tt5574792'),
 ('s1035', None, 'tt5606542'),
 ('s1035', None, 'tt5772348'),
 ('s1035', None, 'tt6087578'),
 ('s1035', None, 'tt6771684'),
 ('s1035', None, 'tt7588482'),
 ('s1035', None, 'tt9383158'),
 ('s1035', None, None),
 ('s1036', 'm/bombshell_the_hedy_lamarr_story', 'tt12825610'),
 ('s1036', 'm/bombshell_the_hedy_lamarr_story', 'tt12844290'),
 ('s1036', 'm/bombshell_the_hedy_lamarr_story', 'tt14940372'),
 ('s1036', 'm/bombshell_the_hedy_lamarr_story', 'tt6136718'),
 ('s1036', 'm/bombshell_the_hedy_lamarr_story', 'tt6752848'),
 ('s1036', 'm/bombshell_the_hedy_lamarr_story', 'tt9904900'),
 ('s1036', 'm/bombshell_the_hedy_lamarr_story', None),
 ('s1037', None, 'tt4247144'),
 ('s1037', None, None),
 ('s1038', None, 'tt4738174'),
 ('s1038', None, None),
 ('s1039', 'm/10007333-bon_cop_bad_cop', None),
 ('s104', None, 'tt4074472'),
 ('s104', None, 'tt4892900'),
 ('s104', None, 'tt6314936'),
 ('s104', None, 'tt6598300'),
 ('s104', None, 'tt7616358'),
 ('s104', None, None),
 ('s1040', None, None),
 ('s1041', None, 'tt11069606'),
 ('s1041', None, 'tt11469140'),
 ('s1041', None, 'tt11569936'),
 ('s1041', None, 'tt8333266'),
 ('s1041', None, None),
 ('s1042', 'm/bonnie_and_clyde', 'tt0061418'),
 ('s1042', 'm/bonnie_and_clyde', None),
 ('s1043', None, 'tt11407654'),
 ('s1044', None, None),
 ('s1045', None, 'tt12923664'),
 ('s1045', None, None),
 ('s1046', None, 'tt0330082'),
 ('s1046', None, 'tt0385561'),
 ('s1046', None, None),
 ('s1047', None, 'tt6153940'),
 ('s1047', None, None),
 ('s1048', None, 'tt13464110'),
 ('s1048', None, 'tt9666804'),
 ('s1048', None, None),
 ('s1049', None, 'tt3430694'),
 ('s1049', None, 'tt6135048'),
 ('s1049', None, 'tt6552160'),
 ('s1049', None, 'tt6994964'),
 ('s1049', None, 'tt7061094'),
 ('s1049', None, 'tt7119792'),
 ('s1049', None, 'tt7250508'),
 ('s1049', None, 'tt7250680'),
 ('s1049', None, 'tt7326580'),
 ('s1049', None, 'tt7383470'),
 ('s1049', None, 'tt7440206'),
 ('s1049', None, 'tt7711874'),
 ('s1049', None, 'tt7762122'),
 ('s1049', None, 'tt7767768'),
 ('s1049', None, 'tt8494374'),
 ('s1049', None, 'tt8985232'),
 ('s1049', None, 'tt9044702'),
 ('s1049', None, 'tt9348284'),
 ('s1049', None, None),
 ('s105', 'm/30_minutes_or_less', 'tt1622547'),
 ('s105', 'm/30_minutes_or_less', 'tt2141140'),
 ('s105', 'm/30_minutes_or_less', 'tt2305403'),
 ('s105', 'm/30_minutes_or_less', 'tt2742460'),
 ('s105', 'm/30_minutes_or_less', 'tt3006220'),
 ('s105', 'm/30_minutes_or_less', 'tt7181678'),
 ('s105', 'm/30_minutes_or_less', None),
 ('s1050', None, 'tt3430694'),
 ('s1050', None, 'tt6135048'),
 ('s1050', None, 'tt6552160'),
 ('s1050', None, 'tt6994964'),
 ('s1050', None, 'tt7061094'),
 ('s1050', None, 'tt7119792'),
 ('s1050', None, 'tt7250508'),
 ('s1050', None, 'tt7250680'),
 ('s1050', None, 'tt7326580'),
 ('s1050', None, 'tt7383470'),
 ('s1050', None, 'tt7440206'),
 ('s1050', None, 'tt7711874'),
 ('s1050', None, 'tt7762122'),
 ('s1050', None, 'tt7767768'),
 ('s1050', None, 'tt8494374'),
 ('s1050', None, 'tt8985232'),
 ('s1050', None, 'tt9044702'),
 ('s1050', None, 'tt9348284'),
 ('s1050', None, None),
 ('s1051', None, None),
 ('s1052', None, None),
 ('s1053', None, 'tt7895652'),
 ('s1053', None, 'tt9798692'),
 ('s1053', None, None),
 ('s1054', None, 'tt10725476'),
 ('s1054', None, 'tt9364848'),
 ('s1054', None, None),
 ('s1055', None, 'tt3456642'),
 ('s1055', None, 'tt3531098'),
 ('s1055', None, 'tt3723054'),
 ('s1055', None, 'tt3728444'),
 ('s1055', None, 'tt3728450'),
 ('s1055', None, 'tt3922016'),
 ('s1055', None, 'tt3982320'),
 ('s1055', None, 'tt4205416'),
 ('s1055', None, 'tt5545268'),
 ('s1055', None, 'tt5773110'),
 ('s1055', None, None),
 ('s1056', None, 'tt12754034'),
 ('s1056', None, 'tt4629266'),
 ('s1056', None, 'tt5032492'),
 ('s1056', None, 'tt5338202'),
 ('s1056', None, 'tt5356680'),
 ('s1056', None, 'tt5786670'),
 ('s1056', None, 'tt6089064'),
 ('s1056', None, 'tt6215352'),
 ('s1056', None, 'tt6238444'),
 ('s1056', None, None),
 ('s1057', None, 'tt6936350'),
 ('s1058', None, 'tt7582508'),
 ('s1059', 'm/born_to_be_blue', 'tt10900216'),
 ('s1059', 'm/born_to_be_blue', 'tt4508542'),
 ('s1059', 'm/born_to_be_blue', 'tt5616970'),
 ('s1059', 'm/born_to_be_blue', 'tt5656510'),
 ('s1059', 'm/born_to_be_blue', 'tt5666512'),
 ('s1059', 'm/born_to_be_blue', 'tt6195850'),
 ('s1059', 'm/born_to_be_blue', 'tt6257396'),
 ('s1059', 'm/born_to_be_blue', 'tt6264224'),
 ('s1059', 'm/born_to_be_blue', 'tt6278730'),
 ('s1059', 'm/born_to_be_blue', 'tt6331110'),
 ('s1059', 'm/born_to_be_blue', 'tt6611678'),
 ('s1059', 'm/born_to_be_blue', 'tt6619064'),
 ('s1059', 'm/born_to_be_blue', 'tt6678036'),
 ('s1059', 'm/born_to_be_blue', None),
 ('s106', None, 'tt0096740'),
 ('s106', None, None),
 ('s1060', 'm/boss_2013', 'tt14329436'),
 ('s1060', 'm/boss_2013', 'tt2571140'),
 ('s1060', 'm/boss_2013', 'tt3667436'),
 ('s1060', 'm/boss_2013', None),
 ('s1061', None, 'tt0497335'),
 ('s1062', None, 'tt2496152'),
 ('s1062', None, 'tt4883194'),
 ('s1062', None, None),
 ('s1063', None, None),
 ('s1064', None, 'tt12820886'),
 ('s1064', None, 'tt2337841'),
 ('s1064', None, 'tt7156446'),
 ('s1064', None, 'tt7215802'),
 ('s1064', None, 'tt7608152'),
 ('s1064', None, None),
 ('s1065', None, 'tt12471194'),
 ('s1065', None, 'tt2355424'),
 ('s1065', None, 'tt5513596'),
 ('s1065', None, None),
 ('s1066', None, 'tt1272034'),
 ('s1067', None, 'tt3107108'),
 ('s1067', None, 'tt4421860'),
 ('s1067', None, 'tt5127266'),
 ('s1067', None, None),
 ('s1068', None, 'tt6283780'),
 ('s1068', None, None),
 ('s1069', None, None),
 ('s107', None, 'tt10886166'),
 ('s107', None, 'tt12432002'),
 ('s107', None, 'tt12934654'),
 ('s107', None, None),
 ('s1070', None, 'tt3344680'),
 ('s1070', None, None),
 ('s1071', None, 'tt1370334'),
 ('s1071', None, 'tt7290466'),
 ('s1071', None, None),
 ('s1072', None, 'tt12488418'),
 ('s1072', None, 'tt6794448'),
 ('s1072', None, None),
 ('s1073', None, 'tt5240748'),
 ('s1073', None, None),
 ('s1074', None, 'tt11141132'),
 ('s1074', None, 'tt8074270'),
 ('s1074', None, None),
 ('s1075', None, 'tt3704700'),
 ('s1075', None, None),
 ('s1076', None, 'tt9203042'),
 ('s1076', None, None),
 ('s1077', 'm/bramptons_own', 'tt6185692'),
 ('s1077', 'm/bramptons_own', None),
 ('s1078', 'm/bratz_the_movie', None),
 ('s1079', None, None),
 ('s108', None, 'tt12037652'),
 ('s108', None, None),
 ('s1080', None, 'tt2514298'),
 ('s1080', None, 'tt9266190'),
 ('s1080', None, 'tt9271804'),
 ('s1080', None, None),
 ('s1081', None, 'tt4660172'),
 ('s1081', None, 'tt5734428'),
 ('s1081', None, 'tt6013834'),
 ('s1081', None, None),
 ('s1082', 'm/braven', 'tt5001754'),
 ('s1083', None, 'tt3858344'),
 ('s1083', None, None),
 ('s1084', None, 'tt12912830'),
 ('s1084', None, 'tt13736568'),
 ('s1085', None, 'tt10473282'),
 ('s1085', None, 'tt13507772'),
 ('s1085', None, 'tt7343574'),
 ('s1085', None, 'tt7657478'),
 ('s1085', None, 'tt8573928'),
 ('s1085', None, 'tt8850010'),
 ('s1085', None, 'tt9169406'),
 ('s1085', None, 'tt9430030'),
 ('s1085', None, 'tt9525700'),
 ('s1085', None, 'tt9855354'),
 ('s1085', None, None),
 ('s1086', None, 'tt10569474'),
 ('s1086', None, 'tt11759558'),
 ('s1086', None, 'tt12261434'),
 ('s1086', None, 'tt13570366'),
 ('s1086', None, None),
 ('s1087', 'm/break_ke_baad', 'tt1578261'),
 ('s1088', None, 'tt3022636'),
 ('s1088', None, 'tt3878658'),
 ('s1088', None, 'tt3898860'),
 ('s1088', None, 'tt4026656'),
 ('s1088', None, 'tt4045908'),
 ('s1088', None, 'tt4231522'),
 ('s1088', None, 'tt5532454'),
 ('s1088', None, 'tt7898166'),
 ('s1088', None, None),
 ('s1089', None, 'tt10155198'),
 ('s1089', None, 'tt10160772'),
 ('s1089', None, 'tt10187120'),
 ('s1089', None, 'tt10234390'),
 ('s1089', None, 'tt10374602'),
 ('s1089', None, 'tt10427496'),
 ('s1089', None, 'tt10448652'),
 ('s1089', None, 'tt10488386'),
 ('s1089', None, 'tt10494442'),
 ('s1089', None, 'tt10498170'),
 ('s1089', None, 'tt10681670'),
 ('s1089', None, 'tt10788862'),
 ('s1089', None, 'tt10936812'),
 ('s1089', None, 'tt11311956'),
 ('s1089', None, 'tt11417562'),
 ('s1089', None, 'tt13521172'),
 ('s1089', None, 'tt13781402'),
 ('s1089', None, 'tt13872422'),
 ('s1089', None, 'tt13899046'),
 ('s1089', None, 'tt14116934'),
 ('s1089', None, 'tt9591070'),
 ('s1089', None, 'tt9795666'),
 ('s1089', None, 'tt9836926'),
 ('s1089', None, 'tt9898922'),
 ('s1089', None, None),
 ('s109', None, None),
 ('s1090', 'm/breaking_the_girls', 'tt10095536'),
 ('s1090', 'm/breaking_the_girls', 'tt10125386'),
 ('s1090', 'm/breaking_the_girls', 'tt10814750'),
 ('s1090', 'm/breaking_the_girls', 'tt12084802'),
 ('s1090', 'm/breaking_the_girls', 'tt12100104'),
 ('s1090', 'm/breaking_the_girls', 'tt12202186'),
 ('s1090', 'm/breaking_the_girls', 'tt12470482'),
 ('s1090', 'm/breaking_the_girls', 'tt12812846'),
 ('s1090', 'm/breaking_the_girls', 'tt13303266'),
 ('s1090', 'm/breaking_the_girls', 'tt14376624'),
 ('s1090', 'm/breaking_the_girls', 'tt2261964'),
 ('s1090', 'm/breaking_the_girls', 'tt2279690'),
 ('s1090', 'm/breaking_the_girls', 'tt2345721'),
 ('s1090', 'm/breaking_the_girls', 'tt2386520'),
 ('s1090', 'm/breaking_the_girls', 'tt2421834'),
 ('s1090', 'm/breaking_the_girls', 'tt2509256'),
 ('s1090', 'm/breaking_the_girls', 'tt2578950'),
 ('s1090', 'm/breaking_the_girls', 'tt2582972'),
 ('s1090', 'm/breaking_the_girls', 'tt2634062'),
 ('s1090', 'm/breaking_the_girls', 'tt2639698'),
 ('s1090', 'm/breaking_the_girls', 'tt2639700'),
 ('s1090', 'm/breaking_the_girls', 'tt2639702'),
 ('s1090', 'm/breaking_the_girls', 'tt2639746'),
 ('s1090', 'm/breaking_the_girls', 'tt2639748'),
 ('s1090', 'm/breaking_the_girls', 'tt2639750'),
 ('s1090', 'm/breaking_the_girls', 'tt2641308'),
 ('s1090', 'm/breaking_the_girls', 'tt2663824'),
 ('s1090', 'm/breaking_the_girls', 'tt2672770'),
 ('s1090', 'm/breaking_the_girls', 'tt2703594'),
 ('s1090', 'm/breaking_the_girls', 'tt2704912'),
 ('s1090', 'm/breaking_the_girls', 'tt2718020'),
 ('s1090', 'm/breaking_the_girls', 'tt2722808'),
 ('s1090', 'm/breaking_the_girls', 'tt2724132'),
 ('s1090', 'm/breaking_the_girls', 'tt2729702'),
 ('s1090', 'm/breaking_the_girls', 'tt2732220'),
 ('s1090', 'm/breaking_the_girls', 'tt2766226'),
 ('s1090', 'm/breaking_the_girls', 'tt2782912'),
 ('s1090', 'm/breaking_the_girls', 'tt2802050'),
 ('s1090', 'm/breaking_the_girls', 'tt2807192'),
 ('s1090', 'm/breaking_the_girls', 'tt2808300'),
 ('s1090', 'm/breaking_the_girls', 'tt2819464'),
 ('s1090', 'm/breaking_the_girls', 'tt2826570'),
 ('s1090', 'm/breaking_the_girls', 'tt2828216'),
 ('s1090', 'm/breaking_the_girls', 'tt2853312'),
 ('s1090', 'm/breaking_the_girls', 'tt2871512'),
 ('s1090', 'm/breaking_the_girls', 'tt2872388'),
 ('s1090', 'm/breaking_the_girls', 'tt2886496'),
 ('s1090', 'm/breaking_the_girls', 'tt2912608'),
 ('s1090', 'm/breaking_the_girls', 'tt2922674'),
 ('s1090', 'm/breaking_the_girls', 'tt2927618'),
 ('s1090', 'm/breaking_the_girls', 'tt2930578'),
 ('s1090', 'm/breaking_the_girls', 'tt2942596'),
 ('s1090', 'm/breaking_the_girls', 'tt2951482'),
 ('s1090', 'm/breaking_the_girls', 'tt2962352'),
 ('s1090', 'm/breaking_the_girls', 'tt3000856'),
 ('s1090', 'm/breaking_the_girls', 'tt3006944'),
 ('s1090', 'm/breaking_the_girls', 'tt3025340'),
 ('s1090', 'm/breaking_the_girls', 'tt3029972'),
 ('s1090', 'm/breaking_the_girls', 'tt3037804'),
 ('s1090', 'm/breaking_the_girls', 'tt3052370'),
 ('s1090', 'm/breaking_the_girls', 'tt3057670'),
 ('s1090', 'm/breaking_the_girls', 'tt3059064'),
 ('s1090', 'm/breaking_the_girls', 'tt3063186'),
 ('s1090', 'm/breaking_the_girls', 'tt3068132'),
 ('s1090', 'm/breaking_the_girls', 'tt3072674'),
 ('s1090', 'm/breaking_the_girls', 'tt3075216'),
 ('s1090', 'm/breaking_the_girls', 'tt3076596'),
 ('s1090', 'm/breaking_the_girls', 'tt3081480'),
 ('s1090', 'm/breaking_the_girls', 'tt3097234'),
 ('s1090', 'm/breaking_the_girls', 'tt3098562'),
 ('s1090', 'm/breaking_the_girls', 'tt3102598'),
 ('s1090', 'm/breaking_the_girls', 'tt3104090'),
 ('s1090', 'm/breaking_the_girls', 'tt3105216'),
 ('s1090', 'm/breaking_the_girls', 'tt3105694'),
 ('s1090', 'm/breaking_the_girls', 'tt3118094'),
 ('s1090', 'm/breaking_the_girls', 'tt3129166'),
 ('s1090', 'm/breaking_the_girls', 'tt3136248'),
 ('s1090', 'm/breaking_the_girls', 'tt3144434'),
 ('s1090', 'm/breaking_the_girls', 'tt3154946'),
 ('s1090', 'm/breaking_the_girls', 'tt3182390'),
 ('s1090', 'm/breaking_the_girls', 'tt3194618'),
 ('s1090', 'm/breaking_the_girls', 'tt3195014'),
 ('s1090', 'm/breaking_the_girls', 'tt3198410'),
 ('s1090', 'm/breaking_the_girls', 'tt3203646'),
 ('s1090', 'm/breaking_the_girls', 'tt3206910'),
 ('s1090', 'm/breaking_the_girls', 'tt3225388'),
 ('s1090', 'm/breaking_the_girls', 'tt3230264'),
 ('s1090', 'm/breaking_the_girls', 'tt3230864'),
 ('s1090', 'm/breaking_the_girls', 'tt3243582'),
 ('s1090', 'm/breaking_the_girls', 'tt3246802'),
 ('s1090', 'm/breaking_the_girls', 'tt3249162'),
 ('s1090', 'm/breaking_the_girls', 'tt3250536'),
 ('s1090', 'm/breaking_the_girls', 'tt3255736'),
 ('s1090', 'm/breaking_the_girls', 'tt3264706'),
 ('s1090', 'm/breaking_the_girls', 'tt3275894'),
 ('s1090', 'm/breaking_the_girls', 'tt3289242'),
 ('s1090', 'm/breaking_the_girls', 'tt3289356'),
 ('s1090', 'm/breaking_the_girls', 'tt3290458'),
 ('s1090', 'm/breaking_the_girls', 'tt3302110'),
 ('s1090', 'm/breaking_the_girls', 'tt3302182'),
 ('s1090', 'm/breaking_the_girls', 'tt3325622'),
 ('s1090', 'm/breaking_the_girls', 'tt3337598'),
 ('s1090', 'm/breaking_the_girls', 'tt3350886'),
 ('s1090', 'm/breaking_the_girls', 'tt3351164'),
 ('s1090', 'm/breaking_the_girls', 'tt3351506'),
 ('s1090', 'm/breaking_the_girls', 'tt3360464'),
 ('s1090', 'm/breaking_the_girls', 'tt3384270'),
 ('s1090', 'm/breaking_the_girls', 'tt3400928'),
 ('s1090', 'm/breaking_the_girls', 'tt3437826'),
 ('s1090', 'm/breaking_the_girls', 'tt3437830'),
 ('s1090', 'm/breaking_the_girls', 'tt3479184'),
 ('s1090', 'm/breaking_the_girls', 'tt3496624'),
 ('s1090', 'm/breaking_the_girls', 'tt3511668'),
 ('s1090', 'm/breaking_the_girls', 'tt3515414'),
 ('s1090', 'm/breaking_the_girls', 'tt3522276'),
 ('s1090', 'm/breaking_the_girls', 'tt3522584'),
 ('s1090', 'm/breaking_the_girls', 'tt3523576'),
 ('s1090', 'm/breaking_the_girls', 'tt3523650'),
 ('s1090', 'm/breaking_the_girls', 'tt3548456'),
 ('s1090', 'm/breaking_the_girls', 'tt3559528'),
 ('s1090', 'm/breaking_the_girls', 'tt3696596'),
 ('s1090', 'm/breaking_the_girls', 'tt3699148'),
 ('s1090', 'm/breaking_the_girls', 'tt3713062'),
 ('s1090', 'm/breaking_the_girls', 'tt3777018'),
 ('s1090', 'm/breaking_the_girls', 'tt3877834'),
 ('s1090', 'm/breaking_the_girls', 'tt3951344'),
 ('s1090', 'm/breaking_the_girls', 'tt4111020'),
 ('s1090', 'm/breaking_the_girls', 'tt4135410'),
 ('s1090', 'm/breaking_the_girls', 'tt4245226'),
 ('s1090', 'm/breaking_the_girls', 'tt4266314'),
 ('s1090', 'm/breaking_the_girls', 'tt4309246'),
 ('s1090', 'm/breaking_the_girls', 'tt4332498'),
 ('s1090', 'm/breaking_the_girls', 'tt4401156'),
 ('s1090', 'm/breaking_the_girls', 'tt4501698'),
 ('s1090', 'm/breaking_the_girls', 'tt4539240'),
 ('s1090', 'm/breaking_the_girls', 'tt4611420'),
 ('s1090', 'm/breaking_the_girls', 'tt4687400'),
 ('s1090', 'm/breaking_the_girls', 'tt4839572'),
 ('s1090', 'm/breaking_the_girls', 'tt4846074'),
 ('s1090', 'm/breaking_the_girls', 'tt4929442'),
 ('s1090', 'm/breaking_the_girls', 'tt4980090'),
 ('s1090', 'm/breaking_the_girls', 'tt5052620'),
 ('s1090', 'm/breaking_the_girls', 'tt5093930'),
 ('s1090', 'm/breaking_the_girls', 'tt5308190'),
 ('s1090', 'm/breaking_the_girls', 'tt5729488'),
 ('s1090', 'm/breaking_the_girls', 'tt5822506'),
 ('s1090', 'm/breaking_the_girls', 'tt5955248'),
 ('s1090', 'm/breaking_the_girls', 'tt5985366'),
 ('s1090', 'm/breaking_the_girls', 'tt6676010'),
 ('s1090', 'm/breaking_the_girls', 'tt6904770'),
 ('s1090', 'm/breaking_the_girls', 'tt6904778'),
 ('s1090', 'm/breaking_the_girls', 'tt6992000'),
 ('s1090', 'm/breaking_the_girls', 'tt7013590'),
 ('s1090', 'm/breaking_the_girls', 'tt7016074'),
 ('s1090', 'm/breaking_the_girls', 'tt7219738'),
 ('s1090', 'm/breaking_the_girls', 'tt7959604'),
 ('s1090', 'm/breaking_the_girls', 'tt8778564'),
 ('s1090', 'm/breaking_the_girls', 'tt8980934'),
 ('s1090', 'm/breaking_the_girls', 'tt9239410'),
 ('s1090', 'm/breaking_the_girls', 'tt9271812'),
 ('s1090', 'm/breaking_the_girls', 'tt9280312'),
 ('s1090', 'm/breaking_the_girls', 'tt9302222'),
 ('s1090', 'm/breaking_the_girls', 'tt9455010'),
 ('s1090', 'm/breaking_the_girls', 'tt9455068'),
 ('s1090', 'm/breaking_the_girls', 'tt9630120'),
 ('s1090', 'm/breaking_the_girls', None),
 ('s1091', None, 'tt10473556'),
 ('s1091', None, 'tt10661130'),
 ('s1091', None, 'tt10746538'),
 ('s1091', None, 'tt11230172'),
 ('s1091', None, 'tt11735286'),
 ('s1091', None, 'tt11852768'),
 ('s1091', None, 'tt11857238'),
 ('s1091', None, 'tt12174766'),
 ('s1091', None, 'tt12305196'),
 ('s1091', None, 'tt12431316'),
 ('s1091', None, 'tt12676868'),
 ('s1091', None, 'tt12705548'),
 ('s1091', None, 'tt13976612'),
 ('s1091', None, 'tt14246278'),
 ('s1091', None, 'tt2705520'),
 ('s1091', None, 'tt3603878'),
 ('s1091', None, 'tt3676370'),
 ('s1091', None, 'tt3685808'),
 ('s1091', None, 'tt3842328'),
 ('s1091', None, 'tt3879090'),

In [60]:
res = cur.fetchall()

In [65]:
len(set(res))

6847

In [ ]:
imdb_titles_df[imdb_titles_df['tconst']=='tt5979312']

In [ ]:
[t for t in list(netflix_df.show_id) if t not in v]

In [ ]:
imdb_titles_df[imdb_titles_df.tconst == 'tt0038171']

In [ ]:
netflix_df[netflix_df.show_id=='s7073']

In [ ]:
(SELECT id, unnest(string_to_array(news_article.news_category_id, ',')):: int rowz
      FROM news_article) AS c ON c.id = a.id

In [ ]:
cur.execute("SELECT staging_netflix_titles.show_id, unnest(string_to_array(staging_netflix_titles.director, ',')) from staging_netflix_titles")

In [ ]:
st = """SELECT COUNT(*) 
FROM temp_netflix_imdb
JOIN staging_netflix_titles netflix
ON temp_netflix_imdb.netflix_title_id = netflix.show_id
JOIN staging_imdb_titles imdb
ON temp_netflix_imdb.imdb_title_id = imdb.tconst
WHERE netflix.release_year::varchar = imdb.startYear"""
cur.execute(st)

In [ ]:
cur.fetchone()

In [ ]:
cur.execute("SELECT levenshtein('GUMBO', 'GAMBOL')")
cur.fetchone()